<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css"/>
</head>
<body>
<center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tbody>
        <tr>
            <td bgcolor="#ff6600">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                    <tbody>
                    <tr>
                        <td style="width:18px;padding-right:4px">
                            <a href="https://news.ycombinator.com">
                                <img src="y18.gif" width="18" height="18" style="border:1px #ffffff solid;">
                            </a>
                        </td>
                        <td style="line-height:12pt; height:10px;">
                            <span class="pagetop">
                                <b>Reset Password for <span th:utext="${user.username}"></span></b>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr id="pagespace" style="height:10px"></tr>
        <tr th:if="${successMessage != null}">
            <td th:text="${successMessage}"></td>
        </tr>
        <tr>
            <td><br><br>
                <form action="#" th:action="@{/changePassword/{userId}(userId=${user.id})}"  method="POST">

                    <table border="0">
                        <tbody>
                        <tr>
                            <td>Current Password:</td>
                            <td>
                                <input type="password" name="oldPassword" size="20">
                            </td>
                        </tr>
                        <tr>
                            <td>New Password:</td>
                            <td>
                                <input type="password" name="newPassword" size="20">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Change">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</body>
</html>