<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Submit Form</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <style>
          .votearrow {
  width:      12px;
  height:     12px;
  border:     0px;
  margin:     3px 2px 6px;
  background: url("../images/grayarrow.gif")
  no-repeat;
}

.votelinks.nosee div.votearrow.rotate180 {
  display: none;
}

    </style>
</head>
<body>
<center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tbody>
        <tr>
            <td bgcolor="#ff6600">
                <div th:replace="html/header :: header"></div>
            </td>
        </tr>
        <tr id="pagespace" title="Show" style="height:10px;"></tr>
        <tr>

            <td>
                <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                    <tbody>

                    <tr>
                        <td width="1px"></td>
                        <td valign="top" class="votelinks">
                            <center th:if="${not #arrays.contains(likeCommentsId,comment.id)}">
                                <a th:href="@{'/upVoteComment/?commentId='+${comment.id}+'&goTo='+${#httpServletRequest.requestURI}}">
                                    <div class='votearrow' title='upvote'></div>
                                </a>
                            </center>
                            <center th:if="${#arrays.contains(likeCommentsId,comment.id)}">
                                <a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </a>
                            </center>
                        </td>
                        <td class="title">
                            <a href="" class="storylink" th:utext="${comment.post.title}"></a>
                            <span class="sitebit comhead">
                                (<a th:href="${comment.post.url}">
                                <span class="sitestr" th:utext="${comment.post.url}">visa.com</span>
                            </a>)
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" th:utext="${comment.post.point}"></span> by
                            <a th:href="@{/userProfile/{userId}(userId=${comment.post.user.id})}" class="hnuser" th:utext="${comment.post.user.username}"></a>
                            <span class="age">
                                <a href="" th:utext="${comment.post.createdAt}"></a>
                            </span>
                            <span id="unv_25576113"></span> |
                            <a href="">hide</a> |
                            <a href="">comments</a>
                        </td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>
                            <form action="#" th:action="@{/addComment}" th:object="${comment}" method="POST">
                                <input type="hidden" th:field="*{post}">
                                <textarea name="text" th:field="*{message}" rows="6" cols="60" required></textarea>
                                <br>
                                <br>
                                <input type="submit" value="add comment">
                            </form>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="height:12px;"></tr>
        <span th:each="comment1 : ${comment.post.comments}">
                        <span th:if="${comment1.parentComment == null}">
                            <tr class="athing comtr " id="25639803">
                                <td>
                                  <table border="0">
                                      <tbody>
                                      <tr>
                                          <td class="ind"><img src="s.gif" height="1" width="0"></td>
                                          <td valign="top" class="votelinks">
                                              <center th:if="${not #arrays.contains(likeCommentsId,comment1.id)}">
                                                  <a th:href="@{'/upVoteComment/?commentId='+${comment1.id}+'&goTo='+${#httpServletRequest.requestURI}}">
                                                      <div class="votearrow" title="upvote"></div>
                                                  </a>
                                              </center>
                                              <center th:if="${#arrays.contains(likeCommentsId,comment1.id)}">
                                                  <a>
                                                      &nbsp;&nbsp;&nbsp;&nbsp;
                                                  </a>
                                              </center>
                                          </td>
                                          <td class="default">
                                              <div style="margin-top:2px; margin-bottom:-10px;">
                                                  <span class="comhead">
                                                   <a href="user?id=wsdrdsw" class="hnuser" th:utext="${comment1.user.username}"></a>
                                                      <span class="age">
                                                          <a href=" " th:utext="${comment1.createdAt}"></a>
                                                      </span>
                                                      <span id="unv_25657047" th:if="${#arrays.contains(likeCommentsId,comment1.id)}"> |
                                                          <a th:href="@{'/downVoteComment/?commentId='+${comment1.id}+'&goTo='+${#httpServletRequest.requestURI}}" id='un_25657047'>unvote</a>
                                                      </span>
                                                      <span id="unv_25639803"></span>
                                                      <span class="par"></span>
                                                      <span class="storyon"></span>
                                                   </span>
                                              </div><br>
                                              <div class="comment">
                                             <span class="commtext c00">
                                                 <span th:utext="${comment1.message}"></span>
                                            <div class="reply"> <p>
                                                <font size="1">
                                               <u><a th:href="@{/replyComment/{commentId}(commentId=${comment1.id})}">reply</a></u>
                                                 </font>
                                               </p>
                                            </div>
                                             </span>
                                              </div>
                                          </td>
                                      </tr>
                                       </tbody>
                                  </table>
                                </td>
                            </tr>
                            <!--                     <tr>-->
                            <!--                         <td colspan="2">^.</td>-->
                            <!--                         <td th:utext="${comment1.message}">-->
                            <!--                     </tr>-->
                            <!--                        <tr>-->
                            <!--                            <td colspan="2"></td>-->
                            <!--                            <td><a th:href="@{/replyComment/{commentId}(commentId=${comment1.id})}" style="height:5px">reply</a></td>-->
                            <!--                        </tr>-->
                                                      <span th:insert="html/replyCommentsList :: replyComments" th:with="someVariable=${0}" ></span>
                            <!--                         <tr class="spacer" style="height:5px"></tr>-->
                    </span>
                    </span>

        </tbody>
        <tr>
            <td>
                <div th:replace="html/footer :: footer"></div>
            </td>
        </tr>
    </table>
</center>
</body>
</html>