<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:fragment="footer">
    <img src="s.gif" height="10" width="0">
    <table width="100%" cellspacing="0" cellpadding="1">
        <tr>
            <td bgcolor="#ff6600"></td>
        </tr>
    </table>
    <br>
    <center>
                    <span class="yclinks">
                        <a href="#">Guidelines</a>
                        | <a href="">FAQ</a>
                        | <a href="">Lists</a>
                        | <a href="https://github.com/HackerNews/API">API</a>
                        | <a href="#">Security</a>
                        | <a href="http://www.ycombinator.com/legal/">Legal</a>
                        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
                        | <a href="mailto:hn@ycombinator.com">Contact</a>
                    </span>
        <br>
        <br>
        <form method="get" th:action="@{/search}">Search:
            <input type="text" th:name="searchKeyword" value="" size="17" autocorrect="off"
                   spellcheck="false" autocapitalize="off" autocomplete="false">
        </form>

    </center>

</div>
</body>
</html>