<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <style>
        .votearrow {
  width:      12px;
  height:     12px;
  border:     0px;
  margin:     3px 2px 6px;
  background: url("../images/grayarrow.gif")
  no-repeat;
}

.votelinks.nosee div.votearrow.rotate180 {
  display: none;
}


    </style>
</head>
<body>
<center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tbody>
        <tr>
            <td bgcolor="#ff6600">
                <div th:replace="html/header :: header"></div>
            </td>
        </tr>
        <tr id="pagespace" title="Show" style="height:10px;"></tr>
        <tr>
            <td>
                <div th:replace="html/postsList :: postsList"></div>
            </td>
        </tr>
        <tr style="height:12px;"></tr>
        <tr class="spacer" style="height:5px"></tr>
        <tr  class="morespace" style="height:10px"></tr>
        <tr style="float:left;" th:if="${not isLast}">
            <td colspan="2"></td>
            <td class="title">
                <a  th:href="@{'/AllPost/'+${currentPage+1}}" class="morelink" rel="next">More</a>
            </td>
        </tr>
        </tbody>

        <tr>
            <td>

                <div th:replace="html/footer :: footer"></div>

            </td>
        </tr>

    </table>
</center>
</body>
</html>