<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<b>Login</b>
<br>
<br>
<form method="post" action="#" th:action="@{/login}">
    <div th:if="${param.error}" style="color:red;">
        Invalid username and password.
    </div>
    Username: <input type="text" style="margin-bottom: 10px;" name="username" required="required"><br>
    Password:  <input type="password" style="margin-bottom: 10px;" name="password" required="required"><br>
    <input type="submit" style="margin-bottom: 10px;" value="login">
</form>
<a href="forgot">Forgot your password?</a>
<br>
<br>
<b>Create Account</b>
<br>
<br>
<form th:action="@{/addUser}" th:object="${user}" method="POST">
    Username: <input style="margin-bottom: 10px;" type="text"  th:field="*{username}"><br>
    Password:  <input type="password" style="margin-bottom: 10px;" th:field="*{password}"><br>
    <input type="submit" value="Create Account" style="margin-bottom: 10px;">
</form>
</body>
</html>
