<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css"/>
</head>
<body>
<div th:fragment="postsList">
    <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
        <tbody>
        <span th:each="post, status : ${posts}">
            <div th:if="${not #arrays.contains(hidePosts,post.id)}">
                    <tr>
                        <td align="right" valign="top" class="title">
                            <span class="rank" th:utext="${status.count}"></span>
                            <span>.</span>
                        </td>
                        <td  valign="top" class="votelinks">
                            <center th:if="${userLikes == null or not #arrays.contains(userLikes,post.id)}">
                                <a sec:authorize="isAnonymous()" th:href="@{/login}">
                                    <div class='votearrow' title='upvote'></div>
                                </a>
                                <a sec:authorize="isAuthenticated()" th:href="@{'/upVotePost?postId='+${post.id}+'&userId='+${#authentication.getPrincipal().getId()}+'&goTo='+${#httpServletRequest.requestURI}}">
                                    <div class='votearrow' title='upvote'></div>
                                </a>
                            </center>
                        </td>
                        <td class="title">
                            <span th:if="${post.url != null  and post.url !=''}">
                                <a th:href="@{${post.url}}" class="storylink" th:utext="${post.title}"></a>
                            </span>
                             <span th:if="${post.url == null  or post.url ==''}">
                                 <a th:href="@{/item/{postId}(postId=${post.id})}" th:utext="${post.title}"></a>
                             </span>
                            <span
                                    class="sitebit comhead">
                                (<a href="${post.url}">
                                <span class="sitestr" th:utext="${post.url}"></span>
                                </a>)
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span class="score" th:utext="${post.point}+' points'">313 points</span> by
                            <a href="user?id=enjoyyourlife" class="hnuser" th:utext="${post.user.username}"></a>
                            <span class="age">
                                <a href="" th:utext="${post.createdAt}">8 hours ago</a>
                            </span>
                            <span id="unv_25614324" sec:authorize="isAuthenticated()" th:if="${#arrays.contains(userLikes,post.id)}"> |
                                <a id='un_25614324'  href="#" th:href="@{'/downVotePost?postId='+${post.id}+'&userId='+${#authentication.getPrincipal().getId()}+'&goTo='+${#httpServletRequest.requestURI}}">unvote</a>
                            </span>
                            <span id="unv_25576113"> </span> |
                            <a th:href="@{'/hidePost?postId='+${post.id}+'&goTo='+${#httpServletRequest.requestURI}}" >hide</a>
                             |
                            <a th:href="@{/pastPosts}">past</a>
                            |
                             <span class="pagetop" sec:authorize="isAnonymous()">
                                 <a th:href="@{/addCommentForm/{postId}(postId=${post.id})}">comments</a>
                             </span>
                            <span class="pagetop" sec:authorize="isAuthenticated()">
                                  <span th:if="${#authentication.getPrincipal().getId() == post.user.id}">
                                      <a th:href="@{/showFormForUpdate/{postId}(postId=${post.id})}">edit</a>
                                      |
                                      <a href="">delete</a>
                                  </span>
                                  <span th:if="${#authentication.getPrincipal().getId() != post.user.id}">
                                       <a th:href="@{/addCommentForm/{postId}(postId=${post.id})}">comments</a>
                                  </span>
                            </span>
                        </td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
            </div>
                    </span>
        </tbody>
    </table>
</div>
</body>
</html>