<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
            .votearrow {
  width:      12px;
  height:     12px;
  border:     0px;
  margin:     3px 2px 6px;
  background: url("../images/grayarrow.gif")
  no-repeat;
}

.votelinks.nosee div.votearrow.rotate180 {
  display: none;
}

    body  { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#828282; }
    .yclinks { font-family:Verdana, Geneva, sans-serif; font-size:  9pt; color:#828282; }
    </style>
    <link rel="stylesheet" type="text/css" href="../css/thread.css"  th:href="@{/css/thread.css}">
    <meta charset="UTF-8">
    <title>Thread</title>
</head>
<body>
<center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
            <td bgcolor="#ff6600">
                <div th:replace="html/header :: header"></div>
            </td>
        </tr>
        <tr id="pagespace" title="threads" style="height:10px"></tr>
        <tr>
            <td>
        <tr  th:each="comment : ${userComments}" class='athing comtr '>
            <td>
                <table border='0'>
                    <tr>
                        <td class='ind'>
                            <img src="s.gif" height="1" width="0">
                        </td>
                        <td valign="top" class="votelinks">
                            <center>
                                <font color="#ff6600">*</font>
                                <br>
                                <img src="s.gif" height="1" width="14">
                            </center>
                        </td>
                        <td class="default">
                            <div style="margin-top:2px; margin-bottom:-10px;">
                                <span class="comhead">
                                    <span class="score" id="score_25602878">1 point</span> by
                                    <a th:href="@{/userProfile/{userId}(userId=${comment.user.id})}" class="hnuser">
                                        <font color="#3c963c" th:utext="${comment.user.username}">vinayak2110</font>
                                    </a>
                                    <span class="age">
                                        <a href="#" th:utext="${comment.createdAt}">0 minutes ago</a>
                                    </span>
                                    <span id="unv_25602878"></span>
<!--                                    <span class="par"> |-->
<!--                                        <a href="#">parent</a>-->
<!--                                    </span> -->
                                    <span class='storyon'> | on:
                                        <a href="#" th:utext="${comment.post.title}">Fired App Reviewer Sues Apple</a>
                                    </span>

                                </span>
                            </div>
                            <br>
                            <div class="comment">
                                <span class="commtext c00" th:utext="${comment.message}">hi</span>
                                <div class='reply'>
                                    <p>
                                        <font size="1"></font>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        <tr style="float:left;" th:if="${not isLast}">
            <td colspan="2"></td>
            <td class="title">
                <a  th:href="@{'/thread?pageNo='+${currentPage+1}}" class="morelink" rel="next">More</a>
            </td>
        </tr>
        </tr>
        <tr>
            <td>
                <div th:replace="html/footer :: footer"></div>
            </td>
        </tr>
    </table>
</center>

</body>
</html>