<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
    body  { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#828282; }
    .yclinks { font-family:Verdana, Geneva, sans-serif; font-size:  9pt; color:#828282; }
    </style>
    <link rel="stylesheet" type="text/css" href="../css/thread.css"  th:href="@{/css/thread.css}">
    <meta charset="UTF-8">
    <title>Thread</title>
</head>
<body>
<center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
            <td bgcolor="#ff6600">
                <div th:replace="html/header :: header"></div>
            </td>
        </tr>
        <tr id="pagespace" title="vinayak2110&#x27;s comments" style="height:10px"></tr>
        <tr >
            <td>
        <tr  th:each="comment : ${userComment}" class='athing comtr ' id='25602878'>
            <td>
                <table border='0'>
                    <tr>
                        <td class='ind'>
                            <img src="s.gif" height="1" width="0">
                        </td>
                        <td valign="top" class="votelinks">
                            <center>
                                <font color="#ff6600">*</font>
                                <br>
                                <img src="s.gif" height="1" width="14">
                            </center>
                        </td>
                        <td class="default">
                            <div style="margin-top:2px; margin-bottom:-10px;">
                                <span class="comhead">
                                    <span class="score" id="score_25602878">1 point</span> by
                                    <a href="#" class="hnuser">
                                        <font color="#3c963c" th:utext="comment.user.username">vinayak2110</font>
                                    </a>
                                    <span class="age">
                                        <a href="#" th:utext="comment.createdAt">0 minutes ago</a>
                                    </span>
                                    <span id="unv_25602878"></span>
                                    <span class="par"> |
                                        <a href="#">parent</a>
                                    </span> |
                                    <a href="#">edit</a> |
                                    <a href="#">delete</a>
                                    <span class='storyon'> | on:
                                        <a href="#" th:utext="${comment.post.title}">Fired App Reviewer Sues Apple</a>
                                    </span>

                                </span>
                            </div>
                            <br>
                            <div class="comment">
                                <span class="commtext c00" th:utext="${comment.message}">hi</span>
                                <div class='reply'>
                                    <p>
                                        <font size="1"></font>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <img src="s.gif" height="10" width="0">
                <table width="100%" cellspacing="0" cellpadding="1">
                    <tr>
                        <td bgcolor="#ff6600"></td>
                    </tr>
                </table>
                <br>
                <center>
                        <span class="yclinks">
                            <a href="#">Guidelines</a>
                            | <a href="#">FAQ</a>
                            | <a href="#">Lists</a>
                            | <a href="https://github.com/HackerNews/API">API</a>
                            | <a href="#">Security</a>
                            | <a href="http://www.ycombinator.com/legal/">Legal</a>
                            | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
                            | <a href="mailto:hn@ycombinator.com">Contact</a>
                        </span>
                    <br>
                    <br>
                    <form method="get" action="#">Search:
                        <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false"
                               autocapitalize="off" autocomplete="false">
                    </form>
                </center>
            </td>
        </tr>
    </table>
</center>

</body>
</html>