<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <style>
        .votearrow {
  width:      12px;
  height:     12px;
  border:     0px;
  margin:     3px 2px 6px;
  background: url("../images/grayarrow.gif")
  no-repeat;
}

.votelinks.nosee div.votearrow.rotate180 {
  display: none;
}
.votelinks {
    min-width: 18px;
}

votelinks a {
    display: block;
    margin-bottom: 9px;
}
td[Attributes Style] {
    vertical-align: top;
}
center {
 margin-top: 1px;
}


    </style>
</head>
<body>
<center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tbody>
        <tr>
            <td bgcolor="#ff6600">
                <div th:replace="html/header :: header"></div>
            </td>
        </tr>
        <tr id="pagespace" title="Show" style="height:10px;"></tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                    <tbody>
                    <span th:each="parentComment : ${parentComments}">
                    <tr class="athing">
                        <td>
                        <table>
                            <tbody>
                            <tr>
                        <td valign="top" class="votelinks">
                            <center>
                                <a href="">
                                    <div class="votearrow" title="upvote"></div>
                                </a>
                            </center>
                        </td>
                        <td class="default">
                            <div style="margin-top:2px; margin-bottom:-10px;">

                                <span class="comhead">
                                   <a th:href="@{/userProfile/{userId}(userId=${parentComment.user.id})}" class="hnuser"
                                      th:utext="${parentComment.user.username}"></a>
                                    <span class="age">
                                        <a href=" " th:utext="${parentComment.createdAt}"></a>
                                    </span>
                                    <span></span>
                                    <span class="par" th:if="${parentComment.parentComment != null}"> |
                                        <a th:href="@{/comment/{commentId}(commentId=${parentComment.parentComment.id})} ">parent</a>
                                    </span>

                                    <span class="storyon"> | on:
                                       <span th:if="${parentComment.post.url != null  and parentComment.post.url !=''}">
                                       <a th:href="@{${parentComment.post.url}}" class="storylink"
                                          th:utext="${parentComment.post.title}"></a>
                                       </span>
                                        <span th:if="${parentComment.post.url == null  or parentComment.post.url ==''}">
                                            <a th:href="@{/item/{postId}(postId=${parentComment.post.id})}"
                                               th:utext="${parentComment.post.title}"></a>
                                          </span>
                                    </span>
                             </span>
                            </div>
                            <br>
                            <div class="comment">
                                <span class="commtext c00" th:utext="${parentComment.message}"> </span>
                            </div>
                        </td>

                    </tr>
                            </tbody>
                        </table>

                            <table>
                                <tbody>

                        <span th:each="comment1:${parentComment.childComments}">
                            <span th:if="${comment1.parentComment.id == parentComment.id}">
                        <span th:insert="html/replyCommentsList :: replyComments" th:with="someVariable=${0}"></span>
                        </span>

                        </span>
                                </tbody>
                            </table>


                        </td>
                    </tr>

<!--                        <span th:each="comment1:${parentComment.childComments}"><span th:if="${comment1.parentComment.id == parentComment.id}">-->
<!--                        <span th:insert="html/replyCommentsList :: replyComments" th:with="someVariable=${0}"></span>-->
<!--                        </span>-->

<!--                        </span>-->

                    </span>

                    </tbody>
                </table>


            </td>
        </tr>
        <tr style="height:12px;"></tr>
        <tr class="spacer" style="height:5px"></tr>
        <tr class="morespace" style="height:10px"></tr>
        <!--                <tr style="float:left;" th:if="${not isLast}">-->
        <!--                    <td colspan="2"></td>-->
        <!--                    <td class="title">-->
        <!--                        <a th:href="@{'/AllPost/'+${currentPage+1}}" class="morelink" rel="next">More</a>-->
        <!--                    </td>-->
        <!--                </tr>-->
        </tbody>

        <tr>
            <td>

                <div th:replace="html/footer :: footer"></div>

            </td>
        </tr>

    </table>
</center>
</body>
</html>