<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css"/>
</head>

<body>
<center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
            <td bgcolor="#ff6600">
                <div th:replace="html/header :: header"></div>

                <!-- HEADER GOES HERE -->
            </td>
        </tr>
        <tr id="pagespace" title="Profile: vinayak2110" style="height:10px"></tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#ffffaa">
                            <table cellpadding="5" width="100%">
                                <tr>
                                    <td>Please put a valid address in the email field, or we won't be able to
                                        send you a new password if you forget yours. Your address is only
                                        visible to you and us. Crawlers and other users can't see it.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <form class="profileform"  th:action="@{/update}" th:object="${user}" method="POST">
                    <input type="hidden" th:field="*{id}">
                    <table border="0">
                        <tr class='athing'>
                            <td valign="top">user:</td>
                            <td>
                                <a th:href="@{/userProfile/{userId}(userId=${user.id})}" class="hnuser">
                                    <font color="#3c963c" th:utext="${user.username}"></font>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>created:</td>
                            <td>
                                <a th:href="@{/pastPosts}" th:utext="${user.createdAt}">4 days ago</a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">karma:</td>
                            <td>1 </td>
                        </tr>
                        <tr>
                            <td valign="top">about:</td>
                            <td>
                                <textarea cols="60" rows="5"   th:field="*{about}" ></textarea>
                                <font size="-2">
                                    <a href="formatdoc" tabindex="-1">
                                        <font color="#afafaf">help</font>
                                    </a>
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">email:</td>
                            <td>
                                <input type="text" th:field="*{email}" size="60">
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">showdead:</td>
                            <td>
                                <select name="showd">
                                    <option>yes</option>
                                    <option selected>no</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">noprocrast:</td>
                            <td>
                                <select name="nopro">
                                    <option>yes</option>
                                    <option selected>no</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">maxvisit:</td>
                            <td>
                                <input type="text" name="maxv" value="20" size="16">
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">minaway:</td>
                            <td>
                                <input type="text" name="mina" value="180" size="16">
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">delay:</td>
                            <td>
                                <input type="text" name="delay" value="0" size="16">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a th:href="@{/changePasswordForm/{userId}(userId=${user.id})}">
                                    <u>change password</u>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a href="submitted?id=vinayak2110">
                                    <u>submissions</u>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a href="threads?id=vinayak2110">
                                    <u>comments</u>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a href="hidden">
                                    <u>hidden</u>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a href="upvoted?id=vinayak2110">
                                    <u>upvoted submissions</u>
                                </a> /
                                <a href="upvoted?id=vinayak2110&amp;comments=t">
                                    <u>comments</u>
                                </a>
                                &nbsp;
                                <span style='font-style:italic'>(private)</span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a href="favorites?id=vinayak2110">
                                    <u>favorite submissions</u>
                                </a> /
                                <a href="favorites?id=vinayak2110&amp;comments=t">
                                    <u>comments</u>
                                </a>
                                &nbsp;
                                <span style='font-style:italic'>(shared)</span>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" value="update">
                </form>
                <br>
                <br>
            </td>
        </tr>
    </table>
</center>
</body>
</html>